<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>926522668160-5r1i62kpaqtb7mqcfs3pd98o8cb05m94.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.926522668160-5r1i62kpaqtb7mqcfs3pd98o8cb05m94</string>
	<key>API_KEY</key>
	<string>AIzaSyAEwwv1TB1xdQ4TXFhKTalfUphySZo-8A8</string>
	<key>GCM_SENDER_ID</key>
	<string>926522668160</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cartViewApps</string>
	<key>PROJECT_ID</key>
	<string>cartapps-2394e</string>
	<key>STORAGE_BUCKET</key>
	<string>cartapps-2394e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926522668160:ios:60cb9075106865a89ba265</string>
</dict>
</plist>